<!-- wp:template-part {"slug":"header","theme":"blockskit-business-biz","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|xx-large"},"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--xx-large)">
<!-- wp:pattern {"slug":"blockskit-business-biz/template-search"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"blockskit-business-biz","tagName":"footer"} /-->